/* 改变主题色变量 */
$base-color:#fe416e;
$--color-primary: $base-color;
  a,p,div,button,span,ul,li,input{-webkit-tap-highlight-color:rgba(255,0,0,0);  margin: 0;
    padding: 0;}

  body, div, a, span, ul, li, img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    -moz-user-select: -moz-none;
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.el-message__icon{
  font-size: .3rem;
}

/* 改变 icon 字体路径变量，必需 */
$--font-path: '../node_modules/element-ui/lib/theme-chalk/fonts';

@import "../node_modules/element-ui/packages/theme-chalk/src/index";